.card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 30px; /* space between cards */
  background-color: black;
  height: 100vh;
  padding: 40px;
}
.parent {
  background-color: rgb(233, 233, 233);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3%;
  border-radius: 10px;
  width: fit-content;
}

.parent img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}

.card {
  width: 300px;
  padding: 20px;
  text-align: center;
  font-family: "Bitcount Grid Single", monospace;
  border: 2px solid white;
  color: rgb(48, 226, 226);
  background-color: #333;
  border-radius: 5px;
  margin-bottom: 10px;
}

button {
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: rgb(48, 226, 226);
  color: black;
}
  