*{
margin: 0;

padding: 0;
    font-family: Fjalla One;
box-sizing: border-box;
}
.container{
  display: flex;

}
.parent{
width: 100vw;
height: 100vh;
gap: 25px;
  background-color: bisque;
  padding: 10px;
 
}
.child{
  box-shadow: 5px 10px;
  height: 400px;
  display: inline-flex;
  flex-direction: column;
 border-radius: 40px;
  width: 350px;

  background-color: white;
  
}
.child img{
  
    height: 50px;
    border-radius:  50% ;
    border: 0.6px solid black;

  }
  
.top{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    gap: 20px;
  }
  button{
    padding: 6px;
    width: 80px;
    align-content: center;
    text-align: center;
    height: 40px;
    border-radius: 7px;
    opacity: 0.5;
    background-color: rgb(238, 238, 238);
    color: rgb(209, 204, 204);
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
    font-family: Fjalla One;
    color: black;
    
  }

  button:hover{
    background-color: red;
    opacity: 0.9;
    
  }
  .center{
    display: flex;
    flex-direction: column;
  }
  .na{
    display: flex;
    gap: 5px;
    padding-left: 5%;
    margin-top: 2%;
    
    
  }
  h5{
    color: rgb(184, 184, 184);

    padding-top: 8px;
  }
  .boxes{
    display: flex;
    flex-direction: row;
    gap: 5px;
    padding-left: 4%;

  }
  .b1{
    background-color: rgb(202, 202, 202);
    padding: 5px;
    font-size: 13px;
    border-radius: 6px;

  }
  .jobtitle{
     margin-top: 2%;
  }
  .boxes{
     margin-top: 2%;
  }
  .jobtitle h1{
    font-size:27px;
    padding-left: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .na h3{
    color: grey;
  }
.bottom{
margin-top: 32%;
margin-left: 5%;
display: flex;
justify-content: space-around;
gap:40%
}

